.article{
    position: relative;
    left: 25%;
    min-width: 480px;
    max-width: 80%;
    width: 50%;
    background-color: rgb(124, 209, 124);
    font-size: 16px;
}
.title{
    background-color: black;
    display: block;
    text-align: center;
}
h1{
    color: whitesmoke;
}
.container{
    height: 100%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}